@media (min-width: 320px) {
    h1 {
        font-size: calc(3.75rem + ((1vw - 3.2px) * 3.2143));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 96px;
    }
}

@media (min-width: 320px) {
    h3 {
        font-size: calc(1.875rem + ((1vw - 3.2px) * 2.6786));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    h3 {
        font-size: 60px;
    }
}


.mainMenuMargin {
    margin-top: 20px;
    margin-left: 20px;
    width: 210px;
    height: 48px;
}

.inputSize {
    width: 256px;
    height: 50px;
}

.submitSize {
    width: 104px;
    height: 50px;
}